<h1><%= @auction.title %></h1>
<p><%=@auction.description%></p>

<b>Bids:</b>
<% @bids.each do |bid|%>
  <li>$<%=bid.amount%>
    <%= link_to "Show", auction_bid_path(@auction, bid) %>
    <%= link_to "Delete", [@auction, bid], method: :delete, data: {confirm: "Are You Sure?"} %>

  </li>
<% end %>
<br>
<%= link_to "Bid On This Item", new_auction_bid_path(@auction), :class=>"btn btn-info" %>
</p>